html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.3;
    font-family: "Satoshi", sans-serif;
    font-size: $font-body;
}

a {
    text-decoration: none;
}

//flexbox utility classes
.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }
 
    &-ai-c {
        align-items: center;
    }
}

//for navigation visibility
.hide-for-mobile {
    @include breakpoint-down(medium) {
        display: none;
    }
}

.hide-for-desktop {
    @include breakpoint-up(large) {
        display: none;
    }
}

//for desktop body margin 
.body-margin-header {
    @include breakpoint-up(large) {
        margin-inline: 120px;
        padding-inline: 0 !important;
    }  
}

.body-margin {
    @include breakpoint-up(large) {
        margin-inline: 120px;
    }  
}

//remove overlay for desktop
.remove-overlay {
    @include breakpoint-up(large) {
        .overlay {
            display: none;
        }
    }  
}

.overlay {
    position: fixed;
    top: 64px;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient($overlay, transparent);
    z-index: 0;
}