$primaryColor: #8828FF;
$neutral: #ffffff;
$dark-blue: #20184E;
$text-color: #666666;
$nav-text-color: #C08DFF;
$overlay: #8928ff8a;


$gradient: 
    45deg,
    #C173FF,
    #C1BCFF,
    #AAEBFF,
    #DEB5FF,
    #FFD9DD,
    #FFDA58,
    #FFDD65,
    ;

//fonts
$font-med: 1.5rem;
$font-body: 1.125rem;
$font-large: 3rem;
